    .calculator {
        border: 1px solid #e9ecef;
        background: #e9ecef;
        box-shadow: 0px 0px 1px 1px;
        margin-top: 100px;
        padding: 50px;
    }
    .input{
            margin-bottom: 21px;
    }